<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
      <ul class="list-unstyled components">
        <p>World Indebtedness</p>
        <li class="active">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
            <li><a href="/">World Indebtedness Map</a></li>
            <li><a href="/line">World Indebtedness Line Chart</a></li>
            <li><a href="/bubble">Revenue / Expenditure Bubble Chart</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Data</a>
        </li>
      </ul>
    </nav>
  
    <!-- Page Content Holder -->
    <div id="content">
    </div>

    <!-- Page Heading-->
        <h1 style="text-align:center;margin: 0 auto;">World Indebtedness Visualizations</h1>